{% extends "page.twig" %}

{% block pageTitle %}Редактирование участников{% endblock %}

{% block content %}

  <div class="block-title">Компания</div>

  <div class="form-block m-b-lg">
    <div class="form-block-padding">
      <label class="form-label" for="form-company-name">Название компании</label>
      <div class="form-select form-select-bold">
        <select name="company" id="form-company-name">
          <option value="">Выберите компанию</option>
          {% for id, company in companies %}
            {% if id == companyId %}
              <option selected value="/form/{{ id }}/">{{ company.Title }}</option>
            {% else %}
              <option value="/form/{{ id }}/">{{ company.Title }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  {% if companyId %}

    {% if members|length %}
      <div class="block-title">Участники</div>
      <div class="form-block m-b-lg">
        <table class="members-table">
          <tr class="members-table-heading">
            <th class="members-table-cell">&nbsp;</th>
            <th class="members-table-cell">Фото</th>
            <th class="members-table-cell">ФИО</th>
            <th class="members-table-cell">Логин</th>
            <th class="members-table-cell"><span class="no-wrap">Статус участника</span></th>
            <th class="members-table-cell">Телефон</th>
            <th class="members-table-cell">Презентация</th>
            <th class="members-table-cell">&nbsp;</th>
          </tr>
          {% for member in members %}
            <tr class="members-table-row">
              <td class="members-table-cell members-table-cell-arrow members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {{ source('svg/icon-list-arrow-right') }}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {% if member.fields.photoFileId %}
                    <div class="members-table-photo">
                      <img src="{{ backend.url }}images/{{ member.fields.photoFileId }}/download/photo-{{ member.id }}.jpg?width=50&height=50" class="" alt="">
                    </div>
                  {% endif %}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {{ member.fields.lastName }} {{ member.fields.firstName }} {{ member.fields.middleName }}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {{ member.fields.code }}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {{ member.fields.textstatus }}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  <span class="no-wrap">
                    {{ member.fields.phoneNumber }}
                  </span>
                </a>
              </td>
              <td class="members-table-cell text-center">
                {% if member.fields.lectures[0] %}
                  <a class="members-table-presentation-link">
                    {{ source('svg/icon-presentation') }}
                  </a>
                {% endif %}
              </td>

              <td class="members-table-cell members-table-del">
                <a href="{{ route('removeMember', {company: companyId, profile: member.id}) }}" class="members-table-del-link" data-action-confirm="Вы действительно хотите удалить этого участника?">
                  {{ source('svg/icon-trash') }}
                </a>
              </td>
            </tr>
            
            {% include 'form/row' %}

          {% endfor %}
        </table>
      </div>
    {% endif %}

    <div class="text-center">
      <a href="#newmember" class="icon icon-memeber-add no-td" onclick="$('#new-member-form').slideToggle(); return false;">
        <img src="/site/images/icons/icon-add.svg" />
        <span class="dotted">Добавить участника</span>
      </a>
    </div>
    
    {% include 'form/newmember' %}

  {% endif %}

{% endblock %}