<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block pageTitle %}{% endblock %} - {{ settings.title }}</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  {% block headerCss %}
    {% include "blocks/headerCss.twig" %}
  {% endblock %}
</head>

<body>
  <div id="wrapper">
    {% block sidebar %}
      {% include "blocks/sidebar.twig" %}
    {% endblock %}

    <div id="page-wrapper" class="gray-bg">
        <nav class="row wrapper border-bottom white-bg page-heading">
          {% block breadcrumbs %}{% endblock %}
        </nav>
      
      <div class="wrapper wrapper-content">
        {% block content %}
          content here
        {% endblock %}

      </div>
      
      {% block footer %}
        {% include "blocks/footer.twig" %}
      {% endblock %}

    </div>
        
  </div>
  <script src="{{ asset('/assets/js/jquery-2.1.1.js') }}"></script>
  <script src="{{ asset('/assets/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('/assets/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
  <script src="{{ asset('/assets/js/plugins/chosen/chosen.jquery.js') }}"></script>
  <script src="{{ asset('/assets/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
  <script src="{{ asset('/assets/js/plugins/summernote/summernote.min.js') }}"></script>
  <script type="text/javascript">
    $(function(){
      $('#collections-list').slimScroll({
          height: '60vh'
      });    
      $('#page-wrapper').slimScroll({
          height: '100vh'
      });
      $('.chosen-select').chosen({width:"100%"});
      $('[data-html-editor]').summernote({disableResizeEditor: true});
      $('.note-statusbar').hide(); 
    })
  </script>
  {% block additionalJs %}{% endblock %}
</body>
</html>
