<hr class="form-block-hr m-b-lg">

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group">
                <label for="form-edit-1-subject" class="form-label">Тема доклада</label>
                <input id="form-edit-1-subject" name="subject" class="form-input" type="text" placeholder="Введите тему доклада" value="{{ lecture.fields.Title }}">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="form-edit-1-section" class="form-label">Секция</label>
                <div class="form-select">
                    <select name="section" id="form-edit-1-section">
                        <option value="">Не выбрано</option>
                        {% for section in sections %}
                          {% if section.id == lecture.fields.Section %}
                          <option selected value="{{ section.id }}">{{ section.fields.Title }}</option>
                          {% else %}
                          <option value="{{ section.id }}">{{ section.fields.Title }}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="form-edit-1-theses" class="form-label">Тезисы доклада</label>
        <textarea name="theses" id="form-edit-1-theses" cols="30" rows="10" class="form-textarea" placeholder="Основные тезисы помогут дополнить тему вашего доклада" maxlength="3000" data-text-count data-text-count-block="#form-edit-1-theses-counter">{{ lecture.fields.Description }}</textarea>
        <div class="form-textarea-counter">
            Максимальное количество символов: <span id="form-edit-1-theses-counter">3000</span>
        </div>
    </div>


    <div class="form-group">
        <div class="js-file-input form-file-input">
            <span class="icon no-td js-file-input-link form-file-input-link">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g fill="#E66F35" fill-rule="nonzero">
                        <path d="M0.48378626,0.999083969 L1.38265649,0.999083969 L1.38265649,15.0303511 C1.38265649,15.7385649 1.95896183,16.3151756 2.66748092,16.3151756 L21.3692824,16.3151756 C22.0775573,16.3151756 22.6541069,15.7385649 22.6541069,15.0303511 L22.6541069,0.999083969 L23.4601527,0.999083969 C23.7287939,0.999083969 23.9436947,0.784122137 23.9436947,0.515541985 C23.9436947,0.246717557 23.7287939,0.0317557252 23.4601527,0.0317557252 L0.48378626,0.0317557252 C0.214961832,0.0317557252 0,0.246717557 0,0.515541985 C0,0.784122137 0.219969466,0.999083969 0.48378626,0.999083969 Z M2.34992366,0.999083969 L21.6867786,0.999083969 L21.6867786,15.0303511 C21.6867786,15.2061069 21.5450992,15.3478473 21.3692824,15.3478473 L2.66748092,15.3478473 C2.49166412,15.3478473 2.34992366,15.2061069 2.34992366,15.0303511 L2.34992366,0.999083969 Z"></path>
                        <path d="M8.35425954,22.9301374 C8.16366412,23.1204885 8.16366412,23.4234504 8.35425954,23.6140458 C8.4470229,23.7068702 8.57392366,23.7557252 8.69606107,23.7557252 C8.81819847,23.7557252 8.94534351,23.7068702 9.03816794,23.6140458 L11.7690992,20.8831145 L11.7690992,23.272 C11.7690992,23.5408244 11.984,23.7557252 12.2528855,23.7557252 C12.5214656,23.7557252 12.7364275,23.5408244 12.7364275,23.272 L12.7364275,20.8831145 L15.4527634,23.5995115 C15.5455878,23.6922748 15.6727328,23.7409466 15.7948702,23.7409466 C15.9170076,23.7409466 16.0439084,23.6922748 16.1366718,23.5995115 C16.3272672,23.408916 16.3272672,23.1059542 16.1366718,22.9153588 L12.7364275,19.5150534 L12.7364275,18.2545344 L14.4219847,18.2545344 C14.690626,18.2545344 14.9055267,18.0396336 14.9055267,17.7709924 C14.9055267,17.5021679 14.690626,17.2872672 14.4219847,17.2872672 L10.0152672,17.2872672 C9.74668702,17.2872672 9.53148092,17.5021679 9.53148092,17.7709924 C9.53148092,18.0396336 9.74668702,18.2545344 10.0152672,18.2545344 L11.7690992,18.2545344 L11.7690992,19.5150534 L8.35425954,22.9301374 Z"></path>
                        <path d="M19.879084,8.41032061 L19.0827481,9.21160305 C18.8921527,9.40219847 18.8971603,9.70491603 19.0827481,9.89557252 C19.1755725,9.98833588 19.3024733,10.0372519 19.4246107,10.0372519 C19.5467481,10.0372519 19.6738931,9.98833588 19.7667176,9.89557252 L20.9050382,8.74741985 C20.9978626,8.65459542 21.0467786,8.53245802 21.0467786,8.40555725 C21.0467786,8.27841221 20.9930992,8.15627481 20.9050382,8.06351145 L19.7569466,6.92512977 C19.5662901,6.73477863 19.2635725,6.73954198 19.0729771,6.92512977 C18.8823817,7.11572519 18.8873893,7.41868702 19.0729771,7.60903817 L19.879084,8.41032061 Z"></path>
                        <path d="M4.36280916,9.89074809 C4.45563359,9.98357252 4.58253435,10.0324885 4.70467176,10.0324885 C4.82680916,10.0324885 4.94894656,9.98357252 5.04677863,9.89074809 C5.23737405,9.70015267 5.23737405,9.39719084 5.04677863,9.20659542 L4.25050382,8.40555725 L5.05154198,7.60903817 C5.2421374,7.41868702 5.2421374,7.11572519 5.05154198,6.92512977 C4.86119084,6.73477863 4.55822901,6.73477863 4.36763359,6.92512977 L3.21948092,8.06351145 C3.12665649,8.15627481 3.07774046,8.27841221 3.07774046,8.40555725 C3.07774046,8.53245802 3.12665649,8.65459542 3.21948092,8.74741985 L4.36280916,9.89074809 Z"></path>
                        <path d="M6.38045802,13.3447328 L17.5682443,13.3447328 C17.8368244,13.3447328 18.0520305,13.129771 18.0520305,12.8609466 L18.0520305,3.49074809 C18.0520305,3.2218626 17.8368244,3.00696183 17.5682443,3.00696183 L6.38045802,3.00696183 C6.11163359,3.00696183 5.89673282,3.2218626 5.89673282,3.49074809 L5.89673282,12.8659542 C5.89673282,13.129771 6.11163359,13.3447328 6.38045802,13.3447328 Z M6.864,3.97429008 L17.0847023,3.97429008 L17.0847023,8.66937405 L14.7543206,6.33899237 C14.5636641,6.14839695 14.2607634,6.14839695 14.0701069,6.33899237 L10.4892824,9.92012214 L9.38027481,8.81587786 C9.28720611,8.72305344 9.1650687,8.67419847 9.03816794,8.67419847 C8.91126718,8.67419847 8.78912977,8.72305344 8.69606107,8.81587786 L6.864,10.6479389 L6.864,3.97429008 Z M6.864,12.0157557 L9.03816794,9.84189313 L10.1471756,10.9509008 C10.24,11.0436641 10.3621374,11.0925802 10.4892824,11.0925802 C10.6161832,11.0925802 10.7383206,11.0436641 10.831084,10.9509008 L14.4122137,7.36977099 L17.0847023,10.0422595 L17.0847023,12.3821679 L6.864,12.3821679 L6.864,12.0157557 Z"></path>
                        <path d="M11.1974962,6.45135878 C11.1974962,5.63053435 10.5281221,4.96116031 9.70754198,4.96116031 C8.88671756,4.96116031 8.21734351,5.63053435 8.21734351,6.45135878 C8.21734351,7.272 8.88671756,7.94137405 9.70754198,7.94137405 C10.5281221,7.94137405 11.1974962,7.272 11.1974962,6.45135878 Z M9.18461069,6.45135878 C9.18461069,6.1629313 9.4191145,5.92848855 9.70754198,5.92848855 C9.99572519,5.92848855 10.230229,6.1629313 10.230229,6.45135878 C10.230229,6.73954198 9.99572519,6.9740458 9.70754198,6.9740458 C9.4191145,6.9740458 9.18461069,6.73954198 9.18461069,6.45135878 Z"></path>
                    </g>
                </g>
            </svg>
                <span class="dotted">Загрузить презентацию</span>
            </span>



            <input type="file" name="presentation" class="js-file-input-field form-file-input-field">

            <div class="js-file-input-photo form-file-input-photo"></div>
            <div class="js-file-input-name form-file-input-name"></div>

            <a href="#" class="js-file-input-del form-file-input-del">
                <svg width="10px" height="9px" viewBox="0 0 10 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-1024.000000, -765.000000)" fill="#999999">
                            <g transform="translate(1024.000000, 764.000000)">
                                <g>
                                    <polygon transform="translate(3.500000, 4.000000) rotate(-315.000000) translate(-3.500000, -4.000000) " points="0.560660172 3.35355339 6.43933983 2.64644661 6.43933983 4.64644661 0.560660172 5.35355339"></polygon>
                                    <polygon transform="translate(6.500000, 4.000000) scale(-1, 1) rotate(-315.000000) translate(-6.500000, -4.000000) " points="3.56066017 3.35355339 9.43933983 2.64644661 9.43933983 4.64644661 3.56066017 5.35355339"></polygon>
                                </g>
                                <g transform="translate(5.000000, 7.000000) scale(-1, -1) translate(-5.000000, -7.000000) translate(0.000000, 3.000000)">
                                    <polygon transform="translate(3.500000, 4.000000) rotate(-315.000000) translate(-3.500000, -4.000000) " points="0.560660172 3.35355339 6.43933983 2.64644661 6.43933983 4.64644661 0.560660172 5.35355339"></polygon>
                                    <polygon transform="translate(6.500000, 4.000000) scale(-1, 1) rotate(-315.000000) translate(-6.500000, -4.000000) " points="3.56066017 3.35355339 9.43933983 2.64644661 9.43933983 4.64644661 3.56066017 5.35355339"></polygon>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>

        {% if lecture.fields.Presentation %}
            <p>Загруженный файл: <a href="/{{ lecture.fields.Presentation }}" target="_blank">{{ lecture.fields.Presentation }}</a></p>
        {% endif %}
    </div>
