<hr class="form-block-hr m-b-lg">
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="form-group">
      <label for="form-edit-1-subject" class="form-label">Тема доклада</label>
      <input id="form-edit-1-subject" name="subject[{{ lecture.id }}]" class="form-input" type="text" placeholder="Введите тему доклада" value="{{ lecture.fields.Title }}">
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="form-group">
      <label for="form-edit-1-section" class="form-label">Секция</label>
      <div class="form-select">
        <select name="section[{{ lecture.id }}]" id="form-edit-1-section">
          <option value="">Не выбрано</option>
          {% for section in sections %}
            {% if section.id == lecture.fields.Section %}
              <option selected value="{{ section.id }}">{{ section.fields.Title }}</option>
            {% else %}
              <option value="{{ section.id }}">{{ section.fields.Title }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="form-edit-1-subject" class="form-label">
    Тема доклада <span class="c-gray">(англ)</span>
  </label>
  <input id="form-edit-1-subject" name="subject[en][{{ lecture.id }}]" class="form-input" type="text" placeholder="Введите тему доклада" value="{{ lecture.languages.en.Title }}">
</div>

<div class="form-group">
  <label for="form-edit-1-theses" class="form-label">Тезисы доклада</label>
  <textarea name="theses[{{ lecture.id }}]" id="form-edit-1-theses" cols="30" rows="10" class="form-textarea" placeholder="Основные тезисы помогут дополнить тему вашего доклада" maxlength="3000" data-text-count data-text-count-block="#form-edit-1-theses-counter">{{ lecture.fields.Description }}</textarea>
  <div class="form-textarea-counter">
      Максимальное количество символов: <span id="form-edit-1-theses-counter">3000</span>
  </div>
</div>

<div class="form-group">
  <label for="form-edit-1-theses" class="form-label">
    Тезисы доклада <span class="c-gray">(англ)</span>
  </label>
  <textarea name="theses[en][{{ lecture.id }}]" id="form-edit-1-theses" cols="30" rows="10" class="form-textarea" placeholder="Основные тезисы помогут дополнить тему вашего доклада" maxlength="3000" data-text-count data-text-count-block="#form-edit-1-theses-counter">{{ lecture.languages.en.Description }}</textarea>
  <div class="form-textarea-counter">
      Максимальное количество символов: <span id="form-edit-1-theses-counter">3000</span>
  </div>
</div>

<div class="form-group">
  <div class="js-file-input form-file-input">
    <span class="icon no-td js-file-input-link form-file-input-link">
      {{ source('/site/svg/icon-presentation') }}
      <span class="dotted">Загрузить презентацию</span>
    </span>

    <input type="file" name="presentation[{{ lecture.id }}]" class="js-file-input-field form-file-input-field">

    <div class="js-file-input-photo form-file-input-photo"></div>
    <div class="js-file-input-name form-file-input-name"></div>

    <a href="#" class="js-file-input-del form-file-input-del">
      {{ source('/site/svg/icon-list-del') }}
    </a>
  </div>

  {% if lecture.fields.Presentation %}
    <p class="uploaded-file-link">
      Загруженный файл: 
      <a href="/{{ lecture.fields.Presentation }}" target="_blank">{{ lecture.fields.Presentation }}</a>
    </p>
    <input type="hidden" value="{{ lecture.fields.Presentation }}" name="saved-presentation[{{ lecture.id }}]" />
  {% endif %}
</div>
