<div id="new-member-form" style="display: none" class="form-block m-t-lg m-b-lg">
  <a href="#" class="form-block-close" title="Скрыть форму" onclick="$('#new-member-form').slideUp(); return false;">
    {{ source('/site/svg/icon-mutiselect-close') }}
  </a>
  <div class="form-block-padding">
    <form action="/form/{{ company.id }}/user/new/" method="POST" enctype="multipart/form-data">
      {{ csrf_field() }}
        <div class="block-title">
          Новый участник
        </div>

        <div class="form-group m-t-lg">
          <label class="form-label" for="form-status">Статус участника</label>
          <select name="status[]" id="form-status" data-placeholder="Выберите статус" multiple class="js-chosen-select js-form-status">
            {% for status in statuses %}
              <option value="{{ status.id }}">{{ status.fields.Title }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-lastname">Фамилия</label>
              <input id="form-lastname" type="text" name="lastName" class="form-input" value="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-name">Имя</label>
              <input id="form-name" type="text" name="firstName" class="form-input" value="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-middlename">Отчество</label>
              <input id="form-middlename" type="text" name="middleName" class="form-input" value="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-lastname">
                Фамилия <span class="c-gray">(англ)</span>
              </label>
              <input id="form-lastname" type="text" name="en[lastName]" class="form-input" value="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-name">
                Имя <span class="c-gray">(англ)</span>
              </label>
              <input id="form-name" type="text" name="en[firstName]" class="form-input" value="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-middlename">
                Отчество <span class="c-gray">(англ)</span>
              </label>
              <input id="form-middlename" type="text" name="en[middleName]" class="form-input" value="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-position">Должность</label>
              <input id="form-position" type="text" name="position" class="form-input" value="">
            </div>
          </div>

            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label class="form-label" for="form-phone">Телефон</label>
                <input id="form-phone" type="text" name="phoneNumber" class="form-input" data-masked-input="+7 (000) 000-00-00" data-masked-input-placeholder="+7 (___) ___-__-__" data-masked-input-clearifnotmatch placeholder="+7 (___) ___-__-__" value="">
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label class="form-label">&nbsp;</label>
                <div class="js-file-input form-file-input">
                  <span class="icon no-td js-file-input-link form-file-input-link">
                    {{ source('/site/svg/icon-photo') }}
                    <span class="dotted">Загрузить фотографию</span>
                  </span>

                  <input type="file" name="photo" class="js-file-input-field form-file-input-field" accept="image/*">

                  <div class="js-file-input-photo form-file-input-photo"></div>
                  <div class="js-file-input-name form-file-input-name"></div>

                  <a href="#" class="js-file-input-del form-file-input-del">
                    {{ source('/site/svg/icon-list-del') }}
                  </a>
                </div>
              </div>
          </div>
        </div>

        <div class="member-additional-form js-member-status js-member-status-c40c992e-430d-4545-95b1-d63645f8a6fa">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label for="form-edit-1-subject" class="form-label">Футбольная команда</label>
                        <div class="form-select form-select-bold">
                            <select name="footballTeam">
                              <option value="">Выберите команду</option>
                              {% for one in footballTeams %}
                                {% if one.id == company.fields.DefaultFootballTeam %}
                                  <option selected value="{{ one.id }}">{{ one.fields.teamName }}</option>
                                {% else %}
                                  <option value="{{ one.id }}">{{ one.fields.teamName }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="member-additional-form js-member-status js-member-status-0567ede5-b573-4dda-8866-d988d1456f33">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label for="form-edit-1-subject" class="form-label">Команда КВН</label>
                <div class="form-select form-select-bold">
                  <select name="KVNTeam">
                    <option value="">Выберите команду</option>
                    {% for one in kvnTeams %}
                      {% if one.id == company.fields.DefaultKVNTeam %}
                          <option selected value="{{ one.id }}">{{ one.fields.Title }}</option>
                      {% else %}
                          <option value="{{ one.id }}">{{ one.fields.Title }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="form-bio">Биография</label>
          <textarea class="form-textarea" name="biography" id="form-bio" cols="30" rows="10" maxlength="3000" data-text-count data-text-count-block="#form-bio-counter"></textarea>
          <div class="form-textarea-counter">
              Максимальное количество символов: <span id="form-bio-counter">3000</span>
          </div>
        </div>

        <div class="member-additional-form js-member-status 
        js-member-status-5e5d15db-ad9f-4a7f-9bb3-ea0ae535871a js-member-status-962896cb-10df-464b-8e26-62c79e81f9be">
          {%
            include 'site/form/lecture' 
            with {
              'sections': sections
            } only
          %}

          <p>
            <a class="more-lecture">
              Добавить еще один доклад
            </a>
          </p>
        </div>

        <div class="text-right">
            <button type="submit" class="button button-orange-hollow">Сохранить</button>
        </div>
    </form>
  </div>
</div>