{% if value %}
  {% for key, string in value %}
    <div class="input-group date form-control-multiple">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input 
        data-datepicker="1" 
        name="{% if name is defined %}{{ name }}{% else %}{{ field.name }}{% endif %}[{{ key }}]"
        id="{% if id is defined %}{{ id }}{% else %}{{ field.name }}{% endif %}"
        type="text" 
        class="form-control" 
        value="{{ string }}"
      >
    </div>
  {% endfor %}
{% endif %}
{% for key in value|length .. value|length + 1 %}
  <div class="input-group date form-control-multiple">
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    <input 
      data-datepicker="1" 
      name="{% if name is defined %}{{ name }}{% else %}{{ field.name }}{% endif %}[{{ key }}]"
      id="{% if id is defined %}{{ id }}{% else %}{{ field.name }}{% endif %}"
      type="text" 
      class="form-control" 
      value=""
    >
  </div>
{% endfor %}