{% if count <= config('objects.ref_count_for_select') %}

<select
  name="{% if name is defined %}{{ name }}{% else %}{{ field.name }}{% endif %}[]"
  id="{% if id is defined %}{{ id }}{% else %}{{ field.name }}{% endif %}" 
  class="chosen-select" 
  multiple
>
  <option value="">Not specified</option>
  {% for element in relations[field.type] %}
    {% if element in value %}
      <option selected value="{{ element.id }}">{{ element.shortView() }}</option>
    {% else %}
      <option value="{{ element.id }}">{{ element.shortView() }}</option>
    {% endif %}
  {% endfor %}
</select>
{% else %}
  <select class="select-data-ajax"
          data-ref="{{ field.type }}"
          data-schema-id="{{ schema.id }}"
          multiple
          name="{% if name is defined %}{{ name }}{% else %}{{ field.name }}{% endif %}[]"
          id="{% if id is defined %}{{ id }}{% else %}{{ field.name }}{% endif %}">
    {% for item in  relations[field.type]%}
      <option value="{{ item.id }}" selected="selected">{{ item.shortView() }}</option>
    {% endfor %}
  </select>
{% endif %}