{% extends "page.twig" %}

{% set folderName = folder.name ? folder.name : folder.id  %}

{% block pageTitle %} folder - {{ folderName }}{% endblock %}

{% block breadcrumbs %}
    <div class="col-lg-10">
        <h2>Documents</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <strong>Files</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <ol class="breadcrumb files-breadcrumb">
                {% for item in breadcrumbs %}
                    <li class="{{ loop.last ? 'active' : '' }}">
                        {% if loop.last %}
                            {{ item.name }}
                        {% else %}
                            <a href="{{ item.link }}">{{ item.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div class="ibox-content files-content">
            {#<div class="buttons-group">#}
            {#<a class="btn btn-primary" href="/{{ schema.id }}/new/">New element</a>#}
            {#<a class="btn btn-default pull-right" href="/schemas/{{ schema.id }}/edit/">Edit schema</a>#}
            {#</div>#}
            {#<form method="post" action="/files/upload-file" enctype="multipart/form-data" class="inline-block" id="file-upload-form">#}
                {#{{ csrf_field() }}#}
                {#<div class="fileinput fileinput-new" data-provides="fileinput">#}
                        {#<span class="btn btn-primary btn-file"><span class="fileinput-new">Upload file</span>#}
                        {#<input @change="fileChange($event.target.name, $event.target.files);" type="file" name="fileUpload"/></span>#}
                    {#<span class="fileinput-filename"></span>#}
                    {#<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>#}
                    {#<button type="submit">asd</button>#}
                {#</div>#}
            {#</form>#}
            <div id="file-content">
                <file-table :backend="'{{ backend.code }}'" :base-link="'{{ folder.link }}'" :init-sort-field="'{{ sortField }}'" :init-sort-order="'{{ sortOrder }}'" :parent-id="'{{ folder.id }}'" :file-list="{{ children|json_encode() }}"></file-table>
            </div>

            {#<div class="row">#}
                {#<div class="col-md-10">#}
                    {#<input placeholder="search" type="text" class="form-control">#}
                {#</div>#}
            {#</div>#}

            {#<table class="table">#}
                {#<thead>#}
                {#<tr>#}
                    {#<th>#</th>#}
                    {#<th></th>#}
                    {#<th>Name</th>#}
                    {#<th>Size</th>#}
                    {#<th>Created At</th>#}
                    {#<th>Owner</th>#}
                    {#<th>Permissions</th>#}
                    {#<th class="text-center">Shared</th>#}
                    {#<th class="text-right">Actions</th>#}
                {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                {#{% for treeItem in folder.children %}#}
                    {#{% include 'files/_file-table-body.twig' %}#}
                {#{% endfor %}#}
                {#</tbody>#}
            {#</table>#}
        </div>
    </div>

    <script src="{{ asset('/js/files.js') }}"></script>
{% endblock %}