{% extends "site/page.twig" %}

{% block pageTitle %}Редактирование участников{% endblock %}

{% block content %}

  <div class="block-title">Компания</div>

  <div class="form-block m-b-lg">
    <div class="form-block-padding">
      <label class="form-label" for="form-company-name">Название компании</label>
      <div class="form-select form-select-bold">
        <select name="company" id="form-company-name">
          <option value="">Выберите компанию</option>
          {% for one in companies %}
            {% if one.id == company.id %}
              <option selected value="/form/{{ one.id }}/">{{ one.fields.Title }}</option>
            {% else %}
              <option value="/form/{{ one.id }}/">{{ one.fields.Title }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  {% if company %}
    <div class="block-title m-b-xs">Команды</div>
    <div class="block-subtitle m-b-md">
      Команды КВН и футбола, назначаемые по умолчанию для новых участников компании
    </div>
    <form action="/form/{{ company.id }}/" method="POST" class="form-block m-b-lg" enctype="multipart/form-data">
      {{ csrf_field() }}
      <div class="form-block-padding">
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-football-team-name">
                  Футбольная команда
              </label>    
              <div class="form-select form-select-bold">
                <select name="DefaultFootballTeam">
                <option value="">Выберите команду</option>
                {% for one in footballTeams %}
                  {% if one.id == company.fields.DefaultFootballTeam %}
                      <option selected value="{{ one.id }}">{{ one.fields.teamName }}</option>
                  {% else %}
                      <option value="{{ one.id }}">{{ one.fields.teamName }}</option>
                  {% endif %}
                {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                  <label class="form-label" for="form-kvn-team-name">Команда КВН</label>
                  <div class="form-select form-select-bold">
                    <select name="DefaultKVNTeam">
                    <option value="">Выберите команду</option>
                    {% for one in kvnTeams %}
                        {% if one.id == company.fields.DefaultKVNTeam %}
                            <option selected value="{{ one.id }}">{{ one.fields.Title }}</option>
                        {% else %}
                            <option value="{{ one.id }}">{{ one.fields.Title }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                  </div>
              </div>
          </div>

          <div class="col-xs-12 col-sm-4">
              <label class="form-label">&nbsp;</label>
              <button type="submit" class="button button-orange-hollow button-block">Сохранить</button>
          </div>
        </div>
      </div>
    </form>

    {% if team|length %}
      <div class="block-title">Участники</div>
      <div class="form-block m-b-lg">
        <table class="members-table">
          <tr class="members-table-heading">
            <th class="members-table-cell">&nbsp;</th>
            <th class="members-table-cell">Фото</th>
            <th class="members-table-cell">ФИО</th>
            <th class="members-table-cell">Должность</th>
            <th class="members-table-cell"><span class="no-wrap">Статус участника</span></th>
            <th class="members-table-cell">Телефон</th>
            <th class="members-table-cell">Презентация</th>
            <th class="members-table-cell">&nbsp;</th>
          </tr>
          {% for member in team %}
            <tr class="members-table-row">
              <td class="members-table-cell members-table-cell-arrow members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {{ source('/site/svg/icon-list-arrow-right') }}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {% if member.fields.photo %}
                    <div class="members-table-photo">
                      <img src="/{{ member.fields.photo }}" class="" alt="">
                    </div>
                  {% endif %}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {{ member.fields.lastName }} {{ member.fields.firstName }} {{ member.fields.middleName }}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {{ member.fields.position }}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  {{ member.fields.textstatus }}
                </a>
              </td>
              <td class="members-table-cell members-table-cell-link">
                <a href="#" title="Редактировать участника" data-member-edit="#member-{{ member.id }}-edit">
                  <span class="no-wrap">
                    {{ member.fields.phoneNumber }}
                  </span>
                </a>
              </td>
              <td class="members-table-cell text-center">
                {% if member.fields.presentation %}
                  <a target="_blank" href="/{{ member.fields.presentation }}" title="Скачать презентацию" class="members-table-presentation-link">
                    {{ source('/site/svg/icon-presentation') }}
                  </a>
                {% endif %}
              </td>

              <td class="members-table-cell members-table-del">
                <a href="/form/{{ company.id }}/user/{{ member.id }}/remove" class="members-table-del-link" data-action-confirm="Вы действительно хотите удалить этого участника?">
                  {{ source('/site/svg/icon-trash') }}
                </a>
              </td>
            </tr>
            
            {%
              include 'site/form/row' 
              with {
                'company': company,
                'member': member,
                'statuses': statuses,
                'footballTeams': footballTeams,
                'kvnTeams': kvnTeams,
                'sections': sections
              } only
            %}

          {% endfor %}
        </table>
      </div>
    {% endif %}

    <div class="text-center">
      <a href="#newmember" class="icon icon-memeber-add no-td" onclick="$('#new-member-form').slideToggle(); return false;">
        <img src="/site/images/icons/icon-add.svg" />
        <span class="dotted">Добавить участника</span>
      </a>
    </div>

    {%
      include 'site/form/newmember' 
      with {
        'company': company,
        'statuses': statuses,
        'footballTeams': footballTeams,
        'kvnTeams': kvnTeams,
        'sections': sections
      } only
    %}
  {% endif %}

{% endblock %}