<div id="new-member-form" style="display: none" class="form-block m-t-lg m-b-lg">
  <a href="#" class="form-block-close" title="Скрыть форму" onclick="$('#new-member-form').slideUp(); return false;">
    {{ source('svg/icon-mutiselect-close') }}
  </a>
  <div class="form-block-padding">
    <form action="{{ route('newMember', {company: companyId}) }}" method="POST" enctype="multipart/form-data">
      {{ csrf_field() }}
        <div class="block-title">
          Новый участник
        </div>

        <div class="form-group m-t-lg">
          <label class="form-label" for="form-status">Статус участника</label>
          <select name="status[]" id="form-status" data-placeholder="Выберите статус" multiple class="js-chosen-select js-form-status">
            {% for status in statuses %}
              <option value="{{ status.id }}">{{ status.fields.Title }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-lastname">Фамилия</label>
              <input id="form-lastname" type="text" name="lastName" class="form-input" value="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-name">Имя</label>
              <input id="form-name" type="text" name="firstName" class="form-input" value="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label class="form-label" for="form-middlename">Отчество</label>
              <input id="form-middlename" type="text" name="middleName" class="form-input" value="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="form-label" for="form-position">Должность</label>
              <input id="form-position" type="text" name="position" class="form-input" value="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label class="form-label" for="form-phone">Телефон</label>
              <input 
                id="form-phone" 
                type="text" 
                name="phoneNumber" 
                class="form-input" 
                data-masked-input="+7 (000) 000-00-00" 
                data-masked-input-placeholder="+7 (___) ___-__-__" 
                data-masked-input-clearifnotmatch 
                placeholder="+7 (___) ___-__-__" 
                value="">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                <div class="js-file-input form-file-input">
                  <span class="icon no-td js-file-input-link form-file-input-link">
                    {{ source('svg/icon-photo') }}
                    <span class="dotted">Загрузить фотографию</span>
                  </span>

                  <input type="file" name="photo" class="js-file-input-field form-file-input-field" accept="image/*">

                  <div class="js-file-input-photo form-file-input-photo"></div>
                  <div class="js-file-input-name form-file-input-name"></div>

                  <a href="#" class="js-file-input-del form-file-input-del">
                    {{ source('svg/icon-list-del') }}
                  </a>
                </div>
              </div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="form-bio">Биография</label>
          <textarea class="form-textarea" name="biography" id="form-bio" cols="30" rows="10" maxlength="12000" data-text-count data-text-count-block="#form-bio-counter"></textarea>
          <div class="form-textarea-counter">
              Максимальное количество символов: <span id="form-bio-counter">12000</span>
          </div>
        </div>
        
        <div class="form-group">
          <label class="form-label" for="form-rewards">Награды</label>
          <textarea class="form-textarea" name="rewards" id="form-rewards" cols="30" rows="10" maxlength="12000" data-text-count data-text-count-block="#form-rewards-counter"></textarea>
          <div class="form-textarea-counter">
              Максимальное количество символов: <span id="form-rewards-counter">12000</span>
          </div>
        </div>

        <div class="
          member-additional-form 
          js-member-status
          {% for status in lectureStatuses %}
            js-member-status-{{ status }} 
          {% endfor %}
          "
        >
          {%
            include 'form/lecture' 
            with {
              'sections': sections
            } only
          %}

          <p>
            <a class="more-lecture">
              Добавить еще один доклад
            </a>
          </p>
        </div>

        <div class="text-right">
            <button type="submit" class="button button-orange-hollow">Сохранить</button>
        </div>
    </form>
  </div>
</div>