<tr 
  id="member-{{ member.id }}-edit" 
  data-member-id="{{ member.id }}"
  class="members-table-row members-table-row-edit js-members-table-row-edit"
>
  <td colspan="8">
    <div class="form-block">
      <a 
        href="#" 
        class="form-block-close" 
        title="Скрыть форму" 
        data-member-edit="#member-{{ member.id }}-edit"
      >
        {{ source('svg/icon-mutiselect-close') }}
      </a>

      <div class="form-block-padding">
        <form 
          action="{{ route('saveMember', {company: companyId, profile: member.id}) }}" 
          method="POST" 
          enctype="multipart/form-data"
        >
          {{ csrf_field() }}
          <div class="block-title">
              Редактирование участника
          </div>

          <div class="form-group m-t-lg">
              <label class="form-label" for="form-edit-1-status">Статус участника</label>
              <select name="status[]" id="form-edit-1-status" data-placeholder="Выберите статус" multiple class="js-chosen-select js-form-status">
                {% for status in statuses %}
                  {% if status.id in member.fields.status %}
                    <option selected value="{{ status.id }}">{{ status.fields.Title }}</option>
                  {% else %}
                    <option value="{{ status.id }}">{{ status.fields.Title }}</option>
                  {% endif %}
                {% endfor %}
              </select>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label class="form-label" for="form-edit-{{ member.id }}-lastname">Фамилия</label>
                <input id="form-edit-{{ member.id }}-lastname" type="text" name="lastName" class="form-input" value="{{ member.fields.lastName }}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label class="form-label" for="form-edit-{{ member.id }}-name">Имя</label>
                <input id="form-edit-{{ member.id }}-name" type="text" name="firstName" class="form-input" value="{{ member.fields.firstName }}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label class="form-label" for="form-edit-{{ member.id }}-middlename">Отчество</label>
                <input id="form-edit-{{ member.id }}-middlename" type="text" name="middleName" class="form-input" value="{{ member.fields.middleName }}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label class="form-label" for="form-edit-1-position">Должность</label>
                <input id="form-edit-1-position" type="text" name="position" class="form-input" value="{{ member.fields.position }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label class="form-label" for="form-edit-1-phone">Телефон</label>
                <input id="form-edit-1-phone" type="text" name="phoneNumber" class="form-input" data-masked-input="+7 (000) 000-00-00" data-masked-input-placeholder="+7 (___) ___-__-__" data-masked-input-clearifnotmatch placeholder="+7 (___) ___-__-__"  value="{{ member.fields.phoneNumber }}">
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label class="form-label">&nbsp;</label>
                <div class="js-file-input form-file-input">
                  <span class="icon no-td js-file-input-link form-file-input-link">
                    {{ source('svg/icon-photo') }}
                    {% if member.fields.photoFileId %}
                      <span class="dotted">Изменить фотографию</span>
                    {% else %}
                      <span class="dotted">Загрузить фотографию</span>
                    {% endif %}
                  </span>

                  <input type="file" name="photo" class="js-file-input-field form-file-input-field" accept="image/*">

                  <div class="js-file-input-photo form-file-input-photo"></div>
                  <div class="js-file-input-name form-file-input-name"></div>

                  <a href="#" class="js-file-input-del form-file-input-del">
                    {{ source('svg/icon-list-del') }}
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="form-edit-{{ member.id }}-bio">Биография</label>
            <textarea class="form-textarea" name="description" id="form-edit-{{ member.id }}-bio" cols="30" rows="10" maxlength="12000" data-text-count data-text-count-block="#form-edit-{{ member.id }}-bio-counter">{{ member.fields.description }}</textarea>
            <div class="form-textarea-counter">
              Максимальное количество символов: <span id="form-edit-{{ member.id }}-bio-counter">12000</span>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="form-rewards">Награды</label>
            <textarea class="form-textarea" name="rewards" id="form-rewards" cols="30" rows="10" maxlength="12000" data-text-count data-text-count-block="#form-rewards-counter">{{ member.fields.rewards }}</textarea>
            <div class="form-textarea-counter">
                Максимальное количество символов: <span id="form-rewards-counter">12000</span>
            </div>
          </div>

          {% if (member.fields.lectures|length) %}
            {% for lecture in member.fields.lectures %}
              <div class="
                active 
                member-additional-form 
                js-member-status
                {% for status in lectureStatuses %}
                  js-member-status-{{ status }} 
                {% endfor %}
                ">

                {%
                  include 'form/lecture' 
                  with {
                    'sections': sections,
                    'lecture': lecture
                  } only
                %}

                {% if loop.last %}
                  <p>
                    <a class="more-lecture">
                      Добавить еще один доклад
                    </a>
                  </p>
                {% endif %}

              </div>
            {% endfor %}
          {% else %}

            <div class="
              {% if member.report %}active{% endif %} 
                member-additional-form 
                js-member-status 
                {% for status in lectureStatuses %}
                  js-member-status-{{ status }} 
                {% endfor %}
              ">

              {%
                include 'form/lecture' 
                with {
                  'sections': sections
                } only
              %}

              <p>
                <a class="more-lecture">
                  Добавить еще один доклад
                </a>
              </p>
            </div>

          {% endif %}

          <div class="text-right">
              <button type="submit" class="button button-orange-hollow">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </td>
</tr>