{% extends "page.twig" %}

{% block pageTitle %}{{ schema.title }} element{% endblock %}

{% block breadcrumbs %}
  <div class="col-lg-10">
    <h2>{{ schema.title }} elements</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">Dashboard</a>
        </li>        
        <li>
            <a href="/schemas/">All schemas</a>
        </li>        
        <li>
            <a href="/{{ schema.id }}">{{ schema.title }}</a>
        </li>
        <li class="active">
            <strong>{{ object.id }}</strong>
        </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      {% if object.title %}
        <h5>{{ object.title }}</h5>
      {% else %}
        <h5>{{ object.id }}</h5>
      {% endif %}
    </div>

    <div class="ibox-content">
      <form enctype="multipart/form-data" class="form-horizontal" action="/{{ schema.id }}/{{ object.id }}" method="post">
        {{ csrf_field() }}

        {% for field in schema.fields %}
          <div class="form-group">
            {% if field.title %}
              <label class="col-sm-2 control-label">{{ field.title }}</label>
            {% else %}
              <label class="col-sm-2 control-label">{{ field.name }}</label>
            {% endif %}
              <div class="col-sm-10">
                {% if field.type == "String" %}
                  <input name="{{ field.name }}" id="{{ field.name }}" type="text" class="form-control" value="{{ object.fields[field.name] }}">
                {% elseif field.type == "Text" %}
                  <textarea data-html-editor="1" name="{{ field.name }}" id="{{ field.name }}" class="form-control">{{ object.fields[field.name] }}</textarea>
                {% elseif field.type == "Json" %}
                  <textarea name="{{ field.name }}" id="{{ field.name }}" class="form-control">{{ object.fields[field.name]|json_encode() }}</textarea>
                {% elseif field.type == "Integer" %}
                  <input name="{{ field.name }}" id="{{ field.name }}" type="text" class="form-control" value="{{ object.fields[field.name] }}">
                {% else %}
                  <input name="{{ field.name }}" id="{{ field.name }}" type="text" class="form-control" value="{{ object.fields[field.name] }}">
                {% endif %}
              </div>
          </div>  
        {% endfor %}

        <hr/>

        <button type="submit" name="action" value="save" class="btn btn-primary">Save object</button>
        <button type="submit" name="action" value="apply" class="btn btn-primary">Apply changes</button>
        <a href="/{{ schema.id }}/{{ object.id }}/delete" class="btn btn-default">Delete element</a>

        <a href="/{{ schema.id }}/" class="btn btn-default pull-right">Back</a>
      </form>
    </div>
  </div>

{% endblock %}