{% extends "page.twig" %}

{% block pageTitle %}Settings{% endblock %}

{% block breadcrumbs %}
  <div class="col-lg-10">
    <h2>Edit {{ schema.title }}</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">Dashboard</a>
        </li>
        <li class="active">
            <strong>Settings</strong>
        </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>{{ schema.title }}</h5>
    </div>

    <div class="ibox-content">
      <form enctype="multipart/form-data" class="form-horizontal" action="/settings/" method="post">
        {{ csrf_field() }}
        <input type="hidden" name="action" value="save" />

        <div class="tabs-container">
          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-settings">General</a></li>
              <li><a data-toggle="tab" href="#tab-push">Push notifications</a></li>
              <li><a data-toggle="tab" href="#tab-email">Email</a></li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane tab-pane-padding active" id="tab-settings">
              <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input name="title" id="title" type="text" class="form-control" value="{{ settings.title }}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Languages</label>
                <div class="col-sm-10">
                  <select name="languages[]" class="chosen-select" multiple>
                    {% for language, key in languages %}
                      {% if key in settings.languages %}
                        <option selected value="{{ key }}">{{ language }}</option>
                      {% else %}
                        <option value="{{ key }}">{{ language }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">New user role</label>
                <div class="col-sm-10">
                  <select name="newUsersRole" class="form-control">
                    {% for role in roles %}
                      {% if role.id == settings.newUsersRole %}
                        <option value="{{ role.id }}" selected>{{ role.id }}</option>
                      {% else %}
                        <option value="{{ role.id }}">{{ role.id }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">User profiles</label>
                <div class="col-sm-10">
                  <select name="userProfiles[]" class="chosen-select" multiple>
                    {% for field in profileFields %}
                      {% if field in settings.userProfiles %}
                        <option selected value="{{ field }}">{{ field }}</option>
                      {% else %}
                        <option value="{{ field }}">{{ field }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Users shortview</label>
                <div class="col-sm-10">
                  <input name="properties[usersShortView]" id="fcmServerKey" type="text" class="form-control" value="{{ settings.properties.usersShortView }}">
                </div>
              </div>

            </div>

            <div class="tab-pane tab-pane-padding" id="tab-push">
              <div class="form-group">
                <label class="col-sm-2 control-label">Fcm server key</label>
                <div class="col-sm-10">
                  <input name="fcmServerKey" id="fcmServerKey" type="text" class="form-control" value="{{ settings.fcmServerKey }}">
                </div>
              </div>
            </div>

            <div class="tab-pane tab-pane-padding" id="tab-email">
              <div class="form-group">
                <label class="col-sm-2 control-label">Server</label>
                <div class="col-sm-10">
                  <input name="emailSettings[server]" id="email-server" type="text" class="form-control" value="{{ settings.emailSettings.server }}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Port</label>
                <div class="col-sm-10">
                  <input name="emailSettings[port]" id="email-port" type="text" class="form-control" value="{{ settings.emailSettings.port }}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">SSL</label>
                <div class="col-sm-10">
                  {% if settings.emailSettings.ssl %}
                    <label style="padding-top: 7px"> <input type="checkbox" name="emailSettings[ssl]" checked></label>
                  {% else %}
                    <label style="padding-top: 7px"> <input type="checkbox" name="emailSettings[ssl]"></label>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                  <input name="emailSettings[username]" id="email-username" type="text" class="form-control" value="{{ settings.emailSettings.username }}">
                </div>
              </div>              

              <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input name="emailSettings[password]" id="email-password" type="text" class="form-control" value="{{ settings.emailSettings.password }}">
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">Sender email</label>
                <div class="col-sm-10">
                  <input name="emailSettings[email]" id="email-email" type="text" class="form-control" value="{{ settings.emailSettings.email }}">
                </div>
              </div>          
                  
              <div class="form-group">
                <label class="col-sm-2 control-label">Sender name</label>
                <div class="col-sm-10">
                  <input name="emailSettings[senderName]" id="email-senderName" type="text" class="form-control" value="{{ settings.emailSettings.senderName }}">
                </div>
              </div>

            </div>

          </div>
        </div>

        <hr/>

        <button type="submit" value="form" class="btn btn-primary">Apply changes</button>

        <a href="/" class="btn btn-default pull-right">Back</a>
      </form>
    </div>
  </div>
{% endblock %}
