{% extends "page.twig" %}

{% block pageTitle %}Edit {{ schema.title }}{% endblock %}

{% block breadcrumbs %}
  <div class="col-lg-10">
    <h2>Edit {{ schema.title }}</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">Dashboard</a>
        </li>
        <li>
            <a href="/schemas/">All schemas</a>
        </li>
        <li>
            <a href="/{{ schema.id }}/">{{ schema.title }}</a>
        </li>
        <li class="active">
            <strong>Edit</strong>
        </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>{{ schema.title }}</h5>
    </div>

    <div class="ibox-content">
      <form enctype="multipart/form-data" class="form-horizontal" action="/schemas/{{ schema.id }}/edit/" method="post">
        {{ csrf_field() }}
        <input type="hidden" name="action" value="list" />

        <div class="tabs-container">
          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-settings">Schema settings</a></li>
              <li class=""><a data-toggle="tab" href="#tab-fields">Schema fields</a></li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane tab-pane-padding active" id="tab-settings">
              <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input name="title" id="title" type="text" class="form-control" value="{{ schema.title }}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Deferred deletion</label>

                <div class="col-sm-10">
                  {% if schema.isDeferredDeletion %}
                    <label style="padding-top: 7px"> <input type="checkbox" name="isDeferredDeletion" checked></label>
                  {% else %}
                    <label style="padding-top: 7px"> <input type="checkbox" name="isDeferredDeletion"></label>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Logged</label>

                <div class="col-sm-10">
                  {% if schema.isLogged %}
                    <label style="padding-top: 7px"> <input type="checkbox" name="isLogged" checked></label>
                  {% else %}
                    <label style="padding-top: 7px"> <input type="checkbox" name="isLogged"></label>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="tab-pane tab-pane-padding" id="tab-fields">
              <div class="button-group">
                <button class="btn btn-primary btn-sm" data-add-row>Add new field</button>
              </div>

              <table class="table schema-fields-table">
                <thead>
                  <th>Name</th>
                  <th>Title</th>
                  <th>Type</th>
                  <th class="text-center">Localized</th>
                  <th class="text-center">Delete</th>
                </thead>
                <tbody>
                  {% for field in schema.fields %}
                    <tr data-id="{{ field.name }}">
                      <td contenteditable>{{ field.name }}</td>
                      <td contenteditable>{{ field.title }}</td>
                      <td>
                        <select class="form-control">
                          {% for type in fieldTypes %}
                            {% if field.type == type %}
                              <option value="{{ type }}" selected>{{ type }}</option>
                            {% else %}
                              <option value="{{ type }}">{{ type }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </td>
                      <td class="text-center">
                        {% if (field.localized) %}
                          <input class="tableCheckbox" type="checkbox" checked=""/>
                        {% else %}
                          <input class="tableCheckbox" type="checkbox" />
                        {% endif %}
                      </td>
                      <td class="text-center">
                        <input class="tableCheckbox" type="checkbox" />
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <hr/>

        <button type="submit" value="list" class="btn btn-primary">Save schema</button>
        <button type="submit" value="form" class="btn btn-primary">Apply changes</button>

        <a href="/schemas/{{ schema.id }}/delete" class="btn btn-default pull-right">Delete schema</a>
      </form>
    </div>
  </div>
{% endblock %}

{% block additionalJs %}
  <script type="text/javascript">
    $('[data-add-row]').on('click', function(){
      var table = $('table tbody');
      var canAddRow = true;
      table.find('tr').each(function(){
        var tr = $(this);
        if (tr.find('td').eq(0).text() == 'NewField'){
          canAddRow = false;
        }
      });
      if (canAddRow){
        var tr = table.find('tr:last').clone();
        tr.find('td').eq(0).text('NewField');
        tr.find('td').eq(1).text('');
        tr.find('td').eq(2).find('select').val('Text');
        tr.find('td').eq(3).find('input').prop('checked', false);
        tr.find('td').eq(4).find('input').prop('checked', false);
        tr.attr('data-id', 'new');
        tr.appendTo(table);
      }
      return false;
    });

    $('button[type=submit]').on('click', function(){
      var action = $(this).val();
      $('input[name=action]').val(action);
    });

    $('form').on('submit', function(){
      var data = {};
      data.fields = {};
      data.newFields = {};
      data.deletedFields = {};
      var form = $(this);
      form.find('input').each(function(){
        if (!$(this).hasClass('tableCheckbox')){
          if ($(this).attr('type') == 'checkbox'){
            data[$(this).attr('name')] = $(this).is(':checked'); 
          }
          else{
            data[$(this).attr('name')] = $(this).val();
          }
        }
      });

      var table = $('table tbody');
      table.find('tr').each(function(){
        var row = {
          name: $(this).find('td').eq(0).text(),
          title: $(this).find('td').eq(1).text(),
          type: $(this).find('td').eq(2).find('select').val(),
          localized: $(this).find('td').eq(3).find('input:checked').length > 0,
          deleted: $(this).find('td').eq(4).find('input:checked').length > 0
        };
        var index = $(this).data('id');

        if (row.deleted){
          data.deletedFields[row.name] = row;
        }
        else{
          if (index == 'new'){
            data.newFields[row.name] = row;
          }
          else{
            data.fields[index] = row;
          }
        }
      });

      $.ajax({
        type: "POST",
        url: "/schemas/{{ schema.id }}/edit/",
        data: data,
        dataType: 'json',
        success: function(msg){
          if (msg.status == 'success'){
            if (msg.action == 'redirect'){
              document.location.href = msg.url;
            }
            else{
              document.location.reload();
            }
          }
          else{
            alert('Saving error');
          }
        }
      });

      return false;
    })
  </script>
{% endblock %}