{% extends "page.twig" %}

{% block breadcrumbs %}
  <div class="col-lg-10">
    <h2>Schemas list</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">Dashboard</a>
        </li>        
        <li class="active">
            <strong>All schemas</strong>
        </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Schemas list</h5>
    </div>

    <div class="ibox-content">

      <div class="buttons-group">
        <a class="btn btn-primary" href="/{{ schema.id }}/create/">New schema</a>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for schema in schemas %}
            <tr>
              <td>
                <a href="/{{ schema.id }}/">
                  {{ schema.id }}
                </a>
              </td>
              <td>
                {{ schema.title }}
              </td>
              <td class="action-cell">
                <div class="input-group-btn text-right">
                    <a href="/{{ schema.id }}/" tabindex="-1" class="btn btn-white" type="button">List elements</a>
                     <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"><span class="caret"></span></button>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="/{{ schema.id }}/">List elements</a></li>
                          <li><a href="/schemas/{{ schema.id }}/edit">Edit schema</a></li>
                          <li><a href="/schemas/{{ schema.id }}/delete">Delete schema</a></li>
                      </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}